:root {
  --white-ivory: #f5fbef;
  --white-ivory-blur: #f5fbefda;
  --bg-blue: #2815a8;
  --bg-licorice: #220c10ff;
  --bg-green: #2d4739ff;
  --bg-rose: #c62e65ff;
  --bg-purple: #610f7f;
  --black: #000000;

  --h1: 235px;
  --h2: 28px;
  --h3: 18px;
  --p: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white-ivory);
  font-family: "Satoshi", sans-serif;
  background-color: var(--bg-blue);
  overflow-x: hidden;
}

.wrapper {
  padding: 0rem 0.75rem;
}

a,
a::after,
a::before {
  color: var(--white-ivory);
  transition: all 500ms ease;
}

/* #####################################
  HEADER STYLING
  ######################################
  */

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-ivory);
  font-size: var(--p);
  font-weight: 500;
  padding: 16px 1rem;

  a {
    color: var(--black);
    padding: 2px 8px;
  }

  #menu-icon {
    color: var(--black);
    font-size: 24px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
}

.nav__menulist {
  display: flex;
  align-items: center;
  gap: 24px;

  a:hover {
    opacity: 50%;
  }
}
